@model Temp

@{
    ViewData["Title"] = "Add";
}

<h2 class="p-2">Delete food item</h2>
<table class="table">
    <thead><tr><th>Food</th><th>Calories</th><th>Sugar</th><th>Fat</th><th>Sodium</th><th>Protein</th></tr></thead>
    <tbody>
        <tr>
            <td>@Model.FoodName</td>
            <td>@Model.Calories</td>
            <td>@Model.Sugar<small>g</small></td>
            <td>@Model.Fat<small>g</small></td>
            <td>@Model.Sodium<small>mg</small></td>
            <td>@Model.Protein<small>g</small></td>
        </tr>
    </tbody>
</table>

<form asp-action="Delete" method="post">
    <input type="hidden" asp-for="Id" />

    <button type="submit" class="btn btn-dark mr-2">Delete</button>
    <a asp-action="Index" class="btn btn-dark">Cancel</a>
</form>