@model List<Temp>

@{
    ViewData["Title"] = "Add";
}

<h2 class="p-2">Delete food item</h2>
<table class="table">
    <thead><tr><th>Food</th><th>Calories</th><th>Sugar</th><th>Fat</th><th>Sodium</th><th>Protein</th></tr></thead>
    <tbody>
        @foreach (Temp temp in Model)
        {
        <tr>
            <td>@temp.FoodName</td>
            <td>@temp.Calories<small>g</small></td>
            <td>@temp.Sugar<small>g</small></td>
            <td>@temp.Fat<small>g</small></td>
            <td>@temp.Sodium<small>mg</small></td>
            <td>@temp.Protein<small>g</small></td>
        </tr>
        }
    </tbody>
</table>

<form asp-action="DeleteALLF" method="post">
    <button type="submit" class="btn btn-dark mr-2">Delete All</button>
    <a asp-action="Index" class="btn btn-dark">Cancel</a>
</form>